@charset "utf-8";
@import url(fontawesome-all.min.css);
@import url("./base.css");
@import url("./mob.css");

/* layout common */
.nav_wrapper, #mobNav, .sub_mob {display: none;}
.info_menu, .header, .contents_area {width: 1200px; margin: 0 auto; -o-box-sizing:border-box; -ms-box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;}

/* header */
#gnbTop {position: relative; border-bottom: 1px solid #E6E7E7; height: 40px;}
.info_menu {position: relative; min-width: 1200px; top: 8px; text-align: right;}
.info_link li, .info_link li a {display: inline-block;}
.info_link li {width: 80px; height: 23px; border: 1px solid #BEBEBE; text-align: center; -webkit-border-radius: 15px; -moz-border-radius: 15px; -o-border-radius: 15px; border-radius: 15px; background: #FFFFFF;}
.info_link li a {line-height: 1.7; color: #9E9E9E}
.info_link li a:hover {color: #464646;}

#headerWrap {height: 90px; border-bottom: 1px solid #E6E7E7; background: #FFFFFF;}
.header {position: relative; height: 90px; text-align: right;}
.logo_h {position: absolute; left: 0; top: 30px;}
.main_menu {position: relative; top:53px;}
.main_menu li {margin-left: 80px;}
.main_menu li, .main_menu li a {display: inline-block;}
.main_menu li a {font-size: 2rem; color: #13345F; font-weight: 700;}

/* main visual */
.visual {position: relative; height: 510px; background: url("../../imgs/mainvisual_pc.jpg") no-repeat center center; background-size: cover;}

/* contents */
#contentsWrap {position: relative; background: #FFFFFF;}
.contents_area {min-height: 700px; text-align: center; overflow: hidden; /*background: #E3E3E3*/}
.algo_subject {position: relative; top: 50px; line-height: 1.7;}
.algo_subject dt {font-size: 3rem; font-weight: 700;}
.algo_subject dd {font-size: 1.6rem;}
ul.sub_contents {margin-bottom: 80px;}
ul.sub_contents li {margin-top: 100px;} 

/* algorithm stragegy */
.algo_area {min-height: 540px; margin: 75px auto 0; padding-top: 5px; display: flex; flex-flow: row wrap; justify-content: space-around; align-content: space-around;}
.algo_section {position: relative; width: 312px; height: 540px; border: 1px solid #E3E3E3; flex: none; margin: 0 15px 30px; text-align: center; background: #FFFFFF;}
section.algo_section:hover {-webkit-backdrop-filter: blur(30px); backdrop-filter: blur(30px); box-shadow: 0 7px 40px 0 rgba(0, 0, 0, 0.1); transition: all 0.3s ease 0s;}

.section_view a img {position: absolute; top:0; vertical-align: top; display: block; transition: opacity 1s;}
.section_view:hover a .img_up {opacity: 0;}
.strategy_intro, .btn_payment, .select_field {width: 290px;}
.strategy_intro {margin: 165px auto 0;}
.btn_payment, .select_field {margin: 0 auto;}
.strategy_intro dt {font-size: 1.8rem; font-weight: 700; padding-bottom: 10px;}
.strategy_intro dd {line-height: 1.4;}
.graph_area {position: relative; top: 7px; width: 288px; height: 62px; margin: 0 auto; border: 1px solid #A69686; text-align: right; background: url("../../imgs/graph.gif") no-repeat 0 0;}
.graph_area dl {position: absolute; top: 9px; right: 15px; line-height: 1.4;}
.graph_area dt {font-size: 1.8rem; color: #FF0000; font-weight: 700;}

.btn_payment {position: relative; top: 15px;}
.btn_payment a:first-child {position: absolute; left: 0;}
.btn_payment a:last-child {position: absolute; right: 0;}

/* /selectbox/ */
.select_field {position: relative; top: 62px;}
.sbHolder {background-color: #FFFFFF; border:1px solid #E7E7E7; position:relative; width: 288px; height: 43px;}
.sbSelector {display:block; height:20px; left:0; line-height:20px; outline:none; overflow:hidden; position:absolute; text-indent:10px; top:0;}
.sbSelector:link, .sbSelector:visited, .sbSelector:hover {color: #FF0000; outline:none; text-decoration:none; font-size: 1.8rem; font-weight: 700; margin-top: 11px;}
.sbToggle {background:url(../../imgs/select-icons.png) 0 -116px no-repeat; display:block; height:20px;outline:none; position:absolute; right:0; top:10px; width:30px;}
.sbToggle:hover {background:url(../../imgs/select-icons.png) 0 -167px no-repeat;}
.sbToggleOpen {background:url(../../imgs/select-icons.png) 0 -16px no-repeat;}
.sbToggleOpen:hover {background:url(../../imgs/select-icons.png) 0 -66px no-repeat;}
.sbHolderDisabled {background-color: #FFFFFF; border:1px solid #E7E7E7;}
.sbHolderDisabled .sbHolder{}
.sbHolderDisabled .sbToggle{}
.sbOptions {background-color: #FFFFFF; border:1px solid #E7E7E7; list-style:none; left:-1px; margin: 23px 0 0; padding:0; position:absolute; top:20px; width:100%; z-index:1; overflow-y:auto; text-align: left;}
.sbOptions li {padding: 0 7px;}
.sbOptions a {border-bottom:0px solid #eee; display:block; outline:none; padding:5px 0 5px 3px;}
.sbOptions a:link, .sbOptions a:visited {color:#AAAAAA; text-decoration:none;}
.sbOptions a:hover {color: #FF0000;}
.sbOptions li.last a {border-bottom:none;}

/* /button a-type/ */
.btn_buy {position: relative; top: 100px; padding-bottom:10px;}
.buttonBuy1 {width: 220px; height: 60px; text-transform: uppercase; letter-spacing: 0px; font-size: 2.4rem; font-weight: 700; color: #6D6D6D; background-color: #fff; border: none; -webkit-border-radius: 45px; -moz-border-radius: 45px; -o-border-radius: 45px; border-radius: 45px; box-shadow: 0px 6px 25px rgba(0, 0, 0, 0.1); transition: all 0.3s ease 0s; cursor: pointer; outline: none;}
.buttonBuy1:hover {background-color: #2EE59D; box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4); color: #fff; transform: translateY(-7px);}

/* /button b-type/ */
.buttonBuy2 {width: 230px; height: 67px; text-transform: uppercase; letter-spacing: 0px; font-size: 2.4rem; font-weight: 700; color: #fff; background-color: #13345F; border: 8px double #FFFFFF; -webkit-border-radius: 45px; -moz-border-radius: 45px; -o-border-radius: 45px; border-radius: 45px; box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.15); transition: all 0.3s ease 0s; cursor: pointer; outline: none;}
.buttonBuy2:hover {background-color: #FFFFFF; border: 1px solid #4E6787; box-shadow: 0px 11px 20px rgba(78, 103, 135, 0.3); color: #6D6D6D;}

/* footer */
#footer {clear:both; position:relative; border-top:1px solid #E6E7E7;}
.footer_inner {margin-top:32px; padding-bottom:100px; text-align:center;}
address {margin-top:18px; line-height:1.6;}
.footer_inner p.copyright {font-size: 1.1rem;}


/* rw */
@media (max-width:1600px) {
}

@media (max-width:1366px) {
}

@media (max-width:1280px) {
img {height: auto;}
.info_menu, .header, .contents_area {width: 95%; min-width: 95%;}
.visual {background: url("../../imgs/mainvisual_w1300.jpg") no-repeat center center; background-size: cover;}
}

@media (max-width:1024px) {
.visual {height: 80vh; background: url("../../imgs/mainvisual_w1024.jpg") no-repeat center center; background-size: cover;}
}

@media (max-width:970px) {
#headerWrap {display:none;}
.nav_wrapper, #mobNav {display: block;}	
.visual {height: 60vh;}
}

@media (max-width:800px) {
.info_menu, .header, .contents_area {width: 100%;}
.visual {background: url("../../imgs/mainvisual_mob.jpg") no-repeat center center; background-size: cover;}
}

@media (max-width:768px) {
.info_menu {text-align: center;}
.sub_contents {display: none;}
.sub_mob {display: block;}
ul.sub_mob {margin-bottom: 50px;}
ul.sub_mob li {margin-top: 50px;} 
}

@media (max-width:480px) {
.info_menu, .header, .contents_area, .footer_inner {min-width: 300px;}
}