{% extends "index.html" %}
{% load static %}
<!-- main contents -->
{% block contents %}
<div class="contents_area">
    <dl class="algo_subject">
        <dt>서비스 소개</dt>
        <dd>안정성과 수익률이 좋은 알고리즘을 엄선하여 소개합니다.</dd>
    </dl>
    <!-- 추천 알고리즘 영역 -->
    <div class="algo_area">
        <h1>맥클로린 로봇어드바이징 서비스는 코스피, 코스닥과 같은 주식 분야와 해외선물 분야 ( 원자재, 미국 지수 )에서 자산의 매입과 매도  시점을 지원하여, 전문지식이 부족한 투자자, 위험회피자가 매입, 매도하는 성과보다 더 좋은 성과를 창출하는 것을 목표로 하고 있습니다.
</h1><h1>
누가 사용할까요?
맥클로린 로봇어드바이징 서비스는 지금은 3개 이상의 자산운용, 헷지펀드, 제조 기업 고객사 / 50명 이상의 개인 투자자들이 이용하고 있습니다.
</h1>

    </div>
    <!-- //추천 알고리즘 영역 -->
    <ul class="sub_contents">
        <li><img src="{% static 'imgs/guide_img.jpg' %}" alt=""></li>
        <li><img src="{% static 'imgs/companies.gif' %}" alt="stock firms"></li>
    </ul>
    <!-- mobile -->
    <ul class="sub_mob">
        <li><img src="{% static 'imgs/guide_mob_img.jpg' %}" alt=""></li>
        <li><img src="{% static 'imgs/companies_mob.gif' %}" alt="stock firms"></li>
    </ul>
    <!-- //mobile -->
</div>
{% endblock contents %}