<!doctype html>
<html>
{% load static %}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="imagetoolbar" content="no" />
    <meta name="keywords" content="" />
    <meta name="title" content="" />
    <meta name="description" content="" />
    <meta name="robots" content="index,follow" />
    <title>MACLAURIN - Home</title>
    <link href="{% static 'class/css/mac.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'class/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'class/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'class/css/jquery-ui.min.css' %}" rel="stylesheet">
    <link href="{% static 'class/css/jquery-ui.structure.min.css' %}" rel="stylesheet">
    <link href="{% static 'class/css/jquery-ui.theme.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <noscript><link rel="stylesheet" href="{% static 'class/css/noscript.css' %}" /></noscript>
    <script type="text/javascript" src="{% static 'class/js/jquery-1.8.3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'class/js/selectbox-min.js' %}"></script>
    <script type="text/javascript" src="{% static 'class/js/bootstrap-min.js' %}"></script>
    <script type="text/javascript" src="{% static 'class/js/notify.min.js' %}"></script>
    <!--<script type="text/javascript" src="{% static 'class/js/jquery.min.js' %}"></script>-->
    <script type="text/javascript" src="{% static 'class/js/jquery-ui.min.js' %}"></script>
    <!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $(function () {
                $("select").each(function(){
                    $(this).selectbox();
                })
            });
        });
    </script>
    <!--[if lt IE 9]>
    <script src="{% static 'class/js/html5shiv.min.js' %}"></script>
    <script src="{% static 'class/js/respond.js' %}"></script>
    <script src="{% static 'class/js/respond.min.js' %}"></script>
    <![endif]-->
</head>

<body>
<!-- gnb top -->
<div id="gnbTop">
    <div class="info_menu">
        <ul class="info_link">
            <!--<li><a href="#">로그인</a></li>-->
            <!--<li><a href="#">회원가입</a></li>-->
            <!--<li><a href="#">고객지원</a></li>-->
        </ul>
    </div>
</div>
<!-- //gnb top -->
<!-- gnb -->
<header id="headerWrap">
    <div class="header">
        <h1 class="logo_h"><img src="{% static 'imgs/logo_h.png' %}" alt="MACLAURIN" onclick="javascript:location.href='/';"/></h1>
        <nav role="navigation">
            <ul class="main_menu">
                {% for nav in navs %}
                    <li><a href="{{ nav.url }}">{{ nav.name }}</a></li>
                {% endfor %}
            </ul>
        </nav>
    </div>
</header>
<!-- //gnb -->
<!-- mob. gnb -->
<div class="nav_wrapper">
    <div class="spinner-master"><input type="checkbox" id="spinner-form" />
        <label for="spinner-form" class="spinner-spin">
            <div class="spinner diagonal part-1"></div>
            <div class="spinner horizontal"></div>
            <div class="spinner diagonal part-2"></div></label></div>
    <nav id="menu" class="menu">
        <ul class="dropdown">
                {% for nav in navs %}
                    <li><a href="{{ nav.url }}">{{ nav.name }}</a></li>
                {% endfor %}
        </ul>
    </nav>
</div>
<script type="text/javascript" src="{% static 'class/js/m_gnb.js' %}"></script>
<header id="mobNav"><h1><a href="/"><img src="{% static 'imgs/logo_h.png' %}" alt="MACLAURIN" /></a></h1></header>
<!-- //mob. gnb-->
<!-- main visual -->
<div class="visual">
    {% block visual %}
    {% endblock visual %}
</div>
<!-- //main visual -->
<div id="contentsWrap">
    {% block contents %}
    {% endblock contents %}
</div>
<footer id="footer">
    {% block footer %}
	<div class="footer_inner">
		<a class="footer_logo"><img src="{% static 'imgs/logo_f.png' %}" alt="MACLAURIN"></a>
		<address>
			<span>서울시 강남구 언주로647 (강남빌딩) 4층</span>
			<p class="copyright">COPYRIGHT &copy; MACLAURIN ALL RIGHTS RESERVED.</p>
		</address>
	</div>
		<div id="csBannerFixed">
			<a href="//bt1s.kr/a.katalk" target="_blank">
				<img src="{% static 'imgs/katalk.png' %}" alt="카카오톡 문의">
			</a>
		</div>
    {% endblock footer %}
</footer>
<!-- SCRIPT -->
<script>
    if(typeof document.compatMode!='undefined'&&document.compatMode!='BackCompat'){
        csFixedRBCalc="_top:expression(document.documentElement.scrollTop+document.documentElement.clientHeight-this.clientHeight-5);_left:expression(document.documentElement.scrollLeft + document.documentElement.clientWidth - offsetWidth);}";
    }else{
        csFixedRBCalc="_top:expression(document.body.scrollTop+document.body.clientHeight-this.clientHeight-5);_left:expression(document.body.scrollLeft + document.body.clientWidth - offsetWidth);}";
    }
    var csBannerFixed='#csBannerFixed{border 1 solid;position:fixed;_position:absolute;bottom:0px;right:0px;overflow:hidden;z-index:100;' + csFixedRBCalc;
    document.write( '<STYLE TYPE="text/css">'+csBannerFixed+'</STYLE>');
</script>
<script>
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                // Only send the token to relative URLs i.e. locally.
                xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
            }
        }
    });
</script>
{% block js %}
{% endblock js %}
<!-- //SCRIPT -->
</html>
