{% extends "index.html" %}
{% load static %}
<!-- main contents -->
{% block contents %}
{% load humanize %}
<div class="contents_area">
    <dl class="algo_subject">
        <!--<dt>추천 알고리즘</dt>-->
        <!--<dd>안정성과 수익률이 좋은 알고리즘을 엄선하여 소개합니다.</dd>-->
        <dt>추천 전략</dt>
        <dd>10년 이상 장기간 검증된 안정성과 수익률이 좋은 전략을 엄선하여 소개합니다.</dd>
    </dl>
    <!-- 추천 알고리즘 영역 -->
    <div class="algo_area">
        <!-- 전략섹션 출력 -->
        {% for section in sections %}
        <section class="algo_section">
            <span class="section_view"><a href="#" data-toggle="modal" data-target="#myModal"><img class="img_over" src="media/{{section.strategy_detail_image}}" alt="상세보기"><img class="img_up" src="media/{{section.strategy_image}}" alt="전략소개"></a></span>
            <dl class="strategy_intro">
                <dt>{{ section.name_id }}</dt>
                <dd>{{ section.description }}</dd>
            </dl>
            <div class="graph_area">
                <dl>
                    <dt>{{ section.profit_rate }} %</dt>
                    <dd><time datetime="{{ section.to_date }}">{{ section.to_date|date:"Y-m-d" }}</time> ({{ section.total_date.days }}일)</dd>
                </dl>
            </div>
            <div class="btn_payment">
                <a href="#"><img src="{% static 'imgs/btn_payment_general.png' %}" alt="일반결제"></a>
                <a href="#"><img src="{% static 'imgs/btn_payment_regular.png' %}" alt="정기결제"></a>
            </div>
            <p class="select_field">
                <select name="payment_select" id="payment_select1">
                    {% for cost in section.costs %}
                        <option value="{{ cost.group }}"><strong>{{ cost.cost|intcomma }}원</strong> ({{ cost.group }})</option>
                    {% endfor %}
                </select>
            </p>
            <span class="btn_buy"><a href="//bt1s.kr/a.strategy_{{ section.id }}" target="_blank"><button class="buttonBuy1">구매하기</button></a></span>
        </section>
        {% endfor %}
        <!-- //전략섹션 출력 -->
    </div>
    <!-- //추천 알고리즘 영역 -->
    <ul class="sub_contents">
        <li><a role="button" data-toggle="modal" data-target="#myModal"><img src="{% static 'imgs/guide_img_origin.jpg' %}" alt=""></a></li>
        <!--<li><a role="button" data-toggle="modal" data-target="#myModal"><img src="{% static 'imgs/guide_mob_img.jpg' %}" alt=""></a></li>-->
        <!--<li class="section_view"><a href="#"><img class="img_over" src="{% static 'imgs/guide_img_origin.jpg' %}" alt="상세보기"><img class="img_up" src="{% static 'imgs/guide_img.jpg' %}" alt="전략소개"></a><</li>-->
        <li><img src="{% static 'imgs/companies.gif' %}" alt="stock firms"></li>
    </ul>
    <!-- mobile -->
    <ul class="sub_mob">
        <li><button data-toggle="modal" data-target="#myModal"><img src="{% static 'imgs/guide_mob_img_origin.jpg' %}" alt=""></button></li>
        <!--<li><button data-toggle="modal" data-target="#myModal"><img src="{% static 'imgs/guide_mob_img.jpg' %}" alt=""></button></li>-->
        <!--<span class="section_view"><a href="#"><img class="img_over" src="/media/{{ section.image }}" alt="상세보기"><img class="img_up" src="/media/{{ section.image }}" alt="전략소개"></a></span>-->
        <li><img src="{% static 'imgs/companies_mob.gif' %}" alt="stock firms"></li>
    </ul>
    <!-- //mobile -->
</div>
{% include "modal.html" %}
{% endblock contents %}