    <!-- modal 구동 버튼 (trigger) -->
    <!--<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">-->
        <!--Modal 띄우기-->
    <!--</button>-->

    <!-- Modal -->
    <div id="myModal" class="modal fade bd-example-modal" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title" id="myModalLabel">주식카톡방 무료 예약</h1>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <!-- FORM -->
                    <form id="id_form_contract" name="form_contract" class="horizontal">
                            <div class="form-group">
                                <label for="id_name" class="col-xs-6 control-label">성함</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="name" id="id_name" placeholder="Your Name" data-placement="top" required autofocus>
                                </div>
                            </div>

                            <!--<div class="form-group">-->
                                <!--<label for="textArea" class="col-xs-6 control-label">Address</label>-->
                                <!--<div class="col-lg-10">-->
                                    <!--<textarea class="form-control" rows="3" name="textAddress" id="textAddress" placeholder="Your Address"></textarea>-->
                                <!--</div>-->
                            <!--</div>-->

                            <!--<div class="form-group">-->
                                <!--<label for="inputlName" class="col-xs-6 control-label">Email</label>-->
                                <!--<div class="col-sm-10">-->
                                    <!--<input type="text" class="form-control" name="inputREmail" id="inputREmail" placeholder="email@you.com" required>-->
                                <!--</div>-->
                            <!--</div>-->

                            <div class="form-group">
                                <label for="id_contract_num" class="col-xs-6 control-label">연락처</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="contract_num" id="id_contract_num" placeholder="01X-XXX-XXXX" required>
                                </div>
                            </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="id_submit_contract" name="submit_contract" type="button" class="btn btn-primary" data-dismiss="modal">제출</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        $('#id_submit_contract').on('click', function(){
            $.ajax({
            type: "POST",
            url: window.location.pathname,
            data: $('#id_form_contract').serialize(),
            async: false,
            success: function (res) {
              $.notify(res.msg, "제출되었습니다", "info");
            },
            error: function (res) {
              is_continuous = false;
              $.notify(
                "Data Failed \n" + res.detail,
                "danger"
              );
            },
          });
        })
    </script>