{% extends "index.html" %}
{% load static %}
<!-- main contents -->
{% block contents %}
<div class="contents_area">
    <dl class="algo_subject">
        <dt>추천 알고리즘</dt>
        <dd>안정성과 수익률이 좋은 알고리즘을 엄선하여 소개합니다.</dd>
    </dl>
    <!-- 스태프 영역 -->
    <div class="algo_area">
        <!-- 스태프 출력 -->
        {% for section in sections %}
        <section class="algo_section">
            <span class="section_view"><a href="#"><img class="img_over" src="/media/{{ section.image }}" alt="상세보기"><img class="img_up" src="/media/{{ section.image }}" alt="전략소개"></a></span>
            <dl class="strategy_intro">
                <dt>[{{ section.name }}]</dt>
                <dd>{{ section.description }}</dd>
            </dl>
        </section>
        {% endfor %}
        <!-- //전략섹션 출력 -->
    </div>
    <!-- //추천 알고리즘 영역 -->
    <ul class="sub_contents">
        <li><img src="{% static 'imgs/guide_img.jpg' %}" alt=""></li>
        <li><img src="{% static 'imgs/companies.gif' %}" alt="stock firms"></li>
    </ul>
    <!-- mobile -->
    <ul class="sub_mob">
        <li><img src="{% static 'imgs/guide_mob_img.jpg' %}" alt=""></li>
        <li><img src="{% static 'imgs/companies_mob.gif' %}" alt="stock firms"></li>
    </ul>
    <!-- //mobile -->
</div>
{% endblock contents %}